framework: net45
copy_local: true
source https://www.nuget.org/api/v2
source ..\..\nugets

nuget OrlovMikhail.Tools ~> 1.0
nuget OrlovMikhail.LJ.Grabber ~> 1.0

nuget log4net ~> 2.0.3 
nuget NUnit ~> 2.6.4 
nuget RhinoMocks ~> 3.6.1 
nuget System.IO.Abstractions ~> 2.0.0
nuget System.IO.Abstractions.TestingHelpers ~> 2.0.0

nuget Autofac ~> 3.5.2 
nuget iTextSharp ~> 5.5.7
nuget System.IO.Abstractions ~> 2.0.0
nuget System.IO.Abstractions.TestingHelpers ~> 2.0.0